<html>
	<head>
		<title>Chef Rocks</title>
	</head>
	<body>
		<center><h1>And so do Linux users!!!</h1></center>
		<center><h2>Template maintained by <%= node["maintainer"] %></h2></center>
		<center><h3>FQDN: <%= node["fqdn"] %></h3></center>
	</body>
</html>

